.form {
  .frame {
    position: relative;
    width: 60%;

    &.blur {
      &:after {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: rgba(255, 255, 255, 0.8);
      }
    }
  }
  @media (max-width: 568px) {
    .frame {
      width: 100%;
    }
  }
}
