.tabs {
  .list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    background: var(--background-muted);
    overflow-x: hidden;

    li {
      padding: 12px 16px;
      position: relative;
      margin-right: 1px;
      cursor: pointer;
      width: 100%;

      &:after {
        position: absolute;
        left: -1px;
        top: 50%;
        transform: translateY(-50%);
        height: 16px;
        width: 1px;
        content: "";
        background: var(--border-muted);
      }
    }
    :global .react-tabs__tab--selected {
      background: var(--background-secondary);
      color: #fff;
    }
  }
  .panel {
    padding-top: 25px;
    display: none;
  }
  :global .react-tabs__tab-panel--selected {
    display: block;
  }
  @media (max-width: 960px) {
    .list {
      margin: 0 -15px;
      li {
        padding: 12px 7px;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
